

a{
    text-decoration: none;
    color: black;
}

/* NavBar.css */
.navBar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
    border-bottom: 1px solid black; /* Agrega una línea negra en la parte inferior */
    color: #333;
    font-weight: bold;
}

.navBar li {
    margin: 0 10px;
}

.not-active {
    text-decoration: none;  
}

.not-active:hover {
    color: #aaa7a5;
}

.active{
    color: black;
    text-decoration: underline;
}


